<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="true" destination="http://14.194.111.58:3000" exactDestination="true" />
        <rewrite>
            <rules>
                <rule name="spot">
                    <match url=".*" />
                    <action type="Rewrite" url="http://14.194.111.58:3000/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
